/app/config/parameters.yml
/build/
/inc/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/bin/
/composer.phar
.idea/
node_modules/
.DS_Store
composer.lock
*.hot-update.json
*.hot-update.js
*.hot-update.js.map