<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="yandex-verification" content="ef680a1f137132cf" />

    {% block title %}
        <title>
            Oculto
        </title>
    {% endblock %}

    {% block metateg %}
        <meta name="description" content="">
        <meta name="keywords" content="" />
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block page_head_css %}
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">
        <link href="/css/slidup.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <script src="/js/respond.min.js"></script>

    {% endblock %}

    {% block page_head_js %}

    {% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MTWTQXP"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse pull-right">
                <div class="nav navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                            <span class="sr-only">Меню</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {#<a href="{{ path('web_homepage') }}" title="Главная"><img src="/images/logo/OQ-rooms2.png" width="90px" alt="квест румы occulto quest"> </a>#}
                    </div>
                    <div class="navbar-collapse collapse navbar-link">
                        {% block hed_phone %}
                            <span>
                                <a href="tel:+380503883688" title="телефон">+38(050)388-36-88</a>
                            </span>
                        {% endblock %}
                        {% block topMenu %}
                            {% include 'WebBundle::menu.html.twig' %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block myCanvas %}
    <canvas id="myCanvas" height="400"  style="background: rgba(0, 0, 0, 0) url('/images/background.jpg') repeat fixed 55% 32%"></canvas>
{% endblock %}


{% block welcome %}
    <div class="parallax" style="background: rgba(0, 0, 0, 0)">
        <img class="logop" src="/images/logo/OQ-rooms-hq.png" alt="квест комнаты occulto quest">
        <h1 class="intro-text text-center">Квесты в реальности!</h1>

    </div>
{% endblock %}

<main>
{% block content %}
        <div class="jumbotron">
            <div class="container">
            </div>
        </div>

        <div class="container">
            <div class="row">
            </div>
        </div>
{% endblock %}
</main>


{% block footer %}
    <div class="second_block">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 phone">
            {% block phone %}
                <div class="phone">
                    <a href="tel:+380503883688" title="телефон">
                        <i class="icon-phone"></i>
                        +38(050)388-36-88
                    </a>
                </div>
            {#</div>#}
            {% endblock %}
            {#<div class="col-xs-4 col-sm-4">#}
                <div class="email">
                    <a href="mailto:oqrooms@gmail.com" title="почта">
                        <i class="icon-envelope"></i> oqrooms@gmail.com
                    </a>
                </div>
            {#</div>#}
            {#<div class="col-xs-4 col-sm-4">#}

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">

                <div class="textwidget">
                    <a href="http://odessa.mir-kvestov.com.ua/quests/6226" target="_blank">
                        <img src="http://odessa.mir-kvestov.com.ua/widgets/2250/img" alt="Отзывы на Квест в реальности Мясник (OQRooms)" title="Отзывы на Квест в реальности Мясник (OQRooms)" width="210">
                    </a>
                </div>
            </div>
                    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4">
                    <div id="TA_cdsratingsonlynarrow756" class="TA_cdsratingsonlynarrow pull-right">
                        <div id="CDSRATINGWIDGET756" class="cdsROW white  shadow   border   narrow ">
                            <div id="CDSROWCONTAINER756" class="cdsROWContainer">
                                <div id="CDSROWLOC756" class="cdsComponent cdsLocName">
                                    <a id="CDSLOCINNER" target="_blank" href="https://www.tripadvisor.ru/Attraction_Review-g295368-d12154358-Reviews-OQRoomS-Odessa_Odessa_Oblast.html" onclick="ta.cds.handleTALink($cdsConfig.getMcid()); return true;" rel="nofollow">OQRoomS</a>
                                </div> <div id="CDSROWRATING756" class="cdsComponent cdsRating"> <span class="ui_bubble_rating bubble_0"></span>
                                    <br> <span> 0 отзывов </span> </div> <div id="CDSROWLOGO756" class="cdsComponent logo">
                                    <a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/tripadvisor_logo_transp_340x80-18034-2.png" alt="TripAdvisor"></a>
                                </div> </div> </div>  </div>
                    <script src="https://www.jscache.com/wejs?wtype=cdsratingsonlynarrow&amp;uniq=756&amp;locationId=12154358&amp;lang=ru&amp;border=true&amp;shadow=true&amp;display_version=2">
                    </script><script src="https://www.tripadvisor.ru/WidgetEmbed-cdsratingsonlynarrow?border=true&amp;shadow=true&amp;locationId=12154358&amp;display_version=2&amp;uniq=756&amp;lang=ru"></script></div>

        </div>
    </div>
    <footer>
        <div class="copyright-block dark-bg clearfix">
            <div class="container">
                <div class="row">
                <div class="text-left col-xs-12 col-sm-9 col-md-9 col-lg-9 responsive-center">
                    <p>Copyright &copy; 2016 by <a href="mailto:dmitreysergeevich86@gmail.com">DSolo</a>. All Rights Reserved</p>
                </div>

                    <div class="sotial col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <a target="_blank" title="facebook"
                           href="https://www.facebook.com/oqrooms.odessa">
                            <i class="icon-facebook sotialI"></i>
                        </a>
                        <a target="_blank" title="vk" href="https://www.vk.com/oqrooms">
                            <i class="icon-vk sotialI"></i>
                        </a>
                        <a href="https://www.instagram.com/oqrooms" title="instagram" target="_blank">
                            <i class="icon-instagram sotialI"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
    {% block footer_js %}
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/plugins.js"></script>
        <script src="/js/jquery.colorbox-min.js"></script>
        <script src="/js/main.js"></script>
    {% endblock %}
{% endblock %}
    </body>
</html>
